.bold-text {
  font-size: 24px;
  font-weight: 700;
}

.personal-info-body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid aqua;
  border-radius: 25px;
  .inner-body {
    border: 0 !important;
    border-radius: 24px !important;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
}
form {
  display: block;
  margin-top: 0em;
  .form-group {
    margin-bottom: 1rem;
    label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: white;
      background-color: transparent;
      background-clip: padding-box;
      border: 1px solid aqua;
      min-height: 56px;
      border-radius: 14px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      margin-bottom: 1rem !important;
      .pretend {
        display: flex;
        margin-right: -1px;
        .input-group-text {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: white;
          text-align: center;
          white-space: nowrap;
          border: 1px solid aqua;
          background-color: transparent !important;
          border-radius: 16px 0px 0px 16px !important;
          padding: 0.375rem 1.5rem !important;
        }
      }
    }
    .input-group > .form-control {
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;
      margin-bottom: 0;
    }

    .input-group > .form-control:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .alert-warning {
    color: #7f5f21;
    background-color: transparent;
    // border-color: #fcebca;
  }
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid aqua;
    border-radius: 16px;
  }
  .fade {
    transition: opacity 0.15s linear;
  }
}
.fa-triangle-exclamation{
    color: yellow;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 1.5rem!important;
}
.save_info{
  padding-bottom: 1.25rem;
  button{
  cursor: pointer;
      margin-top: 10px;
      width: 50%;
      height: 50px;
      font-size: 16px;
      color: white;
      background-color: transparent;
      border-radius: 16px;
      border-color: aqua;
      &:hover {
          background-color:rgb(61, 113, 145);
          transition: 0.7s;
      }
  }
}