@import "../../common/colors.scss";

.movie-list, .show-list{
    margin: 20px 0px;
    h2{
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }
}
.movie-list-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
// .movie-container{
//     display: grid;
//     display: --ms-grid;
//     grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
//     -ms-grid-column: repeat(auto-fill,minmax(220px,1fr));
//     grid-column-gap: 15px;
// }