.ticket-container {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .ticket-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid aqua;
    border-radius: 25px;
    .bold-text-center {
      font-size: 24px;
      font-weight: 700;
      text-align: center !important;
      padding-top: 1.25rem;
    }
    .card {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.25rem;
      padding-left: 3rem !important;
      padding-right: 3rem !important;
      padding-bottom: 3rem !important;
      .row {
        display: grid;
        grid-template-columns: 66.66% 33.33%;
        margin-right: -15px;
        margin-left: -15px;
        @media (max-width: 1200px) {
          display: flex;
          flex-wrap: wrap;
        }
        .col {
          flex: 0 0 100%;
          max-width: 100%;
          @media (max-width: 768px) {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
          }
          .header-info {
            min-height: 65px;
            display: flex;
            justify-content: space-between;
            padding: 0.75rem 1.25rem;
            margin-bottom: 0 !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            background-color: #5f2eea !important;
            .bold-text {
              margin-bottom: 0 !important;
              font-size: 24px;
              font-weight: 700;
            }
            .left-label {
              font-size: 18px;
              font-weight: 600;
              float: right !important;
              text-align: center !important;
              color: white !important;
            }
          }
          .card-body {
            flex: 1 1 auto;
            min-height: 290px;
            padding: 1.25rem;
            padding-bottom: 0 !important;
            background-color: white;
            .info {
              font-size: 14px;
              color: #aaaaaa;
            }
            .info-value {
              font-weight: 600;
              font-size: 18px;
              color: #14142b;
            }
            .info-value-price {
              font-weight: 700;
              font-size: 26px;
              color: black;
            }
            .row-inner {
              padding: 0.75rem 1.25rem;
              display: flex !important;
              flex-wrap: wrap;
              align-items: center !important;
              .col-4 {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
              }
              .col-10 {
                padding: 0.75rem 1.25rem;
                display: flex !important;
                flex-wrap: wrap;
                align-items: center !important;
                justify-content: center !important;
                flex: 0 0 83.3333333333%;
                max-width: 83.3333333333%;
                .col-12 {
                  flex: 0 0 100%;
                  max-width: 100%;
                }
                .col-6 {
                  flex: 0 0 50%;
                  max-width: 50%;
                }
              }
              .col-2 {
                flex: 0 0 16.6666666667%;
                max-width: 16.6666666667%;
                padding-left: 0.25rem !important;
                img {
                  vertical-align: middle;
                  border-style: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
.left-ticket {
  padding-right: 0 !important;
  border-right: 2px dashed #dadde6;
}
.right-ticket {
  padding-left: 0 !important;
}