@import '../../common/colors.scss';

.order-section{
    display: grid;
    grid-template-columns: 40% 35%;
    justify-content: space-between;
    padding: 40px 0px;
    color: $font-primary;
    font-weight: 400;
    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}
.bold-text{
	font-size: 24px;
	font-weight: 700;
}
.order-section-left{
    border: 1px;
    .top{
        background-color: #244058;
        border: solid;
        border-color: aqua;
        border-radius: .50rem;
    }
}

.checkout{
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    button{
		cursor: pointer;
        margin-top: 10px;
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: white;
        background-color: transparent;
        border-radius: .25rem;
        border-color: aqua;
        &:hover {
            background-color:rgb(61, 113, 145);
            transition: 0.7s;
        }
    }
}