@import '../../common/colors.scss';

.order-section{
    display: grid;
    grid-template-columns: 40% 35%;
    justify-content: space-between;
    padding: 40px 0px;
    color: $font-primary;
    font-weight: 400;
    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}
