.sign-in-section {
  align-items: center;
  display: flex;
  justify-content: center;
  .login-body {
    position: relative;
    display: flex;
    flex-direction: column;
    // min-width: 30%;
    width: 100%;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid aqua;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (min-width: 740px) {
      min-height: 100vh;
      background-color: transparent;
      max-width: 450px;
      min-width: 30%;
    }
    .inner-body {
      border: 0 !important;
      border-radius: 24px !important;
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .link-text {
          padding-top: 1rem;
        text-decoration: underline;
        color: aqua;
      }
    }
  }
}

.bold-text-extra {
  font-size: 48px;
  font-weight: 700;
}
form {
  display: block;
  margin-top: 0em;
  .form-group{
    display: flex;
    flex-direction: column;
    label{
      font-size: 20px;
      font-weight: 600;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    input{
      height: 56px;
      border: 1px solid aqua;
      background-color: transparent;
      border-radius: 16px;
      padding: 10px;
      font-size: 16px;
    }
  }
}
